---
layout: page
description: "Keep scaling and you will meet your aha moment."
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {% if post.layout == 'paper' %}
                论文推荐：{{ post.title }}
            {% else %}
                {{ post.title }}
            {% endif %}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.preview %}
                {{ post.preview }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        {% if post.layout == 'paper' %}
            {% if post.author %}Published by {{ post.author }}{% else %}Published{% endif %} {% if post.publication == 'Arxiv' %} on Arxiv at {{ post.date | date: "%b. %Y" }}{% else %} on {{ post.publication }}{% endif %}
        {% else %}
            Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
        {% endif %}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
